pipeline/PL_data_sql_azure.json
{
	"name": "PL_data_sql_azure",
	"properties": {
		"activities": [
			{
				"name": "Copy_sqldata_to_abs",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ASDB_source",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "@pipeline().parameters.ppschema",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.pptable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ABS_sink",
						"type": "DatasetReference",
						"parameters": {
							"containername": {
								"value": "@pipeline().parameters.ppcontainer",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.pptable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Web_success_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_sqldata_to_abs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://yashulogic.azurewebsites.net:443/api/yashureddyl/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Kh-a36G7_UO_r_FYNP2aaatECLywycchzK9Nhpli37I",
					"method": "POST",
					"body": "\"datafactoryname\":\"{@pipeline().DataFactory}\",\n\"emailto\":\"yashureddy102@outlook.com\",\n\"pipelinename\":\"{@pipeline().Pipeline}\",\n\"errormessage\":\"pipeline succeeded!\",\n\"status\":\"{@activity('Copy_sqldata_to_abs').status}\",\n\"runid\":{@pipeline().RunId}\""
				}
			}
		],
		"parameters": {
			"ppschema": {
				"type": "string"
			},
			"pptable": {
				"type": "string"
			},
			"ppcontainer": {
				"type": "string"
			},
			"ppfile": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-13T12:20:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}